body{
	background-image: url("public/img/bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

section{
	display: inline-block;
	margin-top: 50px;
}

nav{
	position: absolute;
    background-color: white;
    float: right;
    top: 10px;
    right: 100px;

}

article{
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 10px;
	padding: 3px;
	border-width: 2px;
	border-style: solid;
	border-top-color: white;
    border-bottom-color: grey;
    border-left-color: white;
    border-right-color: white;
}


header{
	background: white;
	margin: 10px;
}

h5{
	background-color: black;
	color: white;
	text-align: center;

}


h1{
	display: none;
}

#logo{
	position: absolute;
}

.pilih_menu{
	margin: 10px;
	padding: 3px;
	background-color: white;
	border-style: solid;
	border-color: white;
}

.judul{
	text-decoration: none;
}

#menu{
	
	top: 3px;
	right: 4px;

}